<h1>Title: <%= @listing.title %></h1>
<p>Description: <%= @listing.description %></p>
<p>Number of Rooms: <%= @listing.rooms %></p>
<p>Capacity: <%= @listing.capacity %></p>
<p>Location: <%= @listing.location %></p>
<p>Price: <%= @listing.price %></p>
<p>Property Type: <%= @listing.property_type %></p>
<p>Host: <%= @listing.user.email %></p>
<p>Available: <%= @listing.available %></p>

<% if current_user.id == @listing.user.id %>
	<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
	<%= link_to 'Delete Listing', listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Double confirmed?" } %>
<% end %><br>
	<%= link_to 'Make Booking', new_booking_path(listing_id: @listing.id) %>

<h3>Reviews</h3>
<% if @listing.reviews.any?%>
	<% @listing.reviews.each do |review| %>
		<li>
			<%= review.comment %> 
			(<%= review.rating %>/5)
			by <%= review.user.email %>
		</li>
	<% end %>
<% else %>
	<p>No reviews yet </p>
<% end %>
<%= link_to 'Leave a review', new_review_path(listing_id: @listing.id) %>
