<h2>Property: <%= @listing.title%></h2>
	<ul>
		<li>
<%if @listing.photos.attached? %>
		<% @listing.photos.each do |photo|%>
			<%= link_to rails_blob_path(photo, disposition: "attachment") do %>	
			<%end%>
		<%= image_tag photo, width: 200, height: 200 %>		
		<%end%>
<%end%><br>
	Description: <%= @listing.description%><br>
	Property type: <%= @listing.property_type%><br>
	Location: <%= @listing.location%><br>
	Price: RM <%= @listing.price%><br>
	Rooms: <%= @listing.rooms%><br>
	Capacity: <%= @listing.capacity%><br>
	Availability: <%= @listing.available%><br>
		</li>
	</ul>
<%= link_to user_path(@listing.user.id) do%>
<p>Host: <%= @listing.user.id%></p>
<%end%>

<%if current_user == @listing.user%>
	<%= link_to 'Edit', edit_listing_path(@listing)%><br>
	<%= link_to 'Delete Listing', listing_path(@listing),
		data: {turbo_method: :delete,
		turbo_confirm: "Are you sure?"}%><br><br>	
<%else%>
	<%= link_to 'New Booking', new_booking_path(listing_id: @listing.id)%><br>
	<%= link_to 'Create review', new_review_path(listing_id: @listing.id)%><br>
<%end%>

<h2>Property Reviews</h2>

<%if @listing.reviews.any?%>
	<ul>		
		<% @listing.reviews.each do |review|%>
		<li>
			<%= review.comment%><br>
			<%= review.user.email%><br>
			Rating: <%= review.rating%>/5 			
			<%= review.created_at%><br>
			<%end%>
		</li>
	</ul>	
<%else%>
<p>No reviews.</p>
<%end%>
