<h1>Title: <%= @listing.title %></h1>
<p>Description: <%= @listing.description %></p>
<p>Number of Rooms: <%= @listing.rooms %></p>
<p>Capacity: <%= @listing.capacity %></p>
<p>Location: <%= @listing.location %></p>
<p>Price: <%= @listing.price %></p>
<p>Property Type: <%= @listing.property_type %></p>
<p>Host: <%= @listing.user.email %></p>
<p>Availabilty: <%= @listing.available %></p>

<% if current_user.id == @listing.user.id %>
	<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
	<%= link_to 'Delete Listing', listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% else %>
	<%= link_to 'Make Booking', new_booking_path(listing_id: @listing.id) %>
<% end %>
