<h1>Title: <%= @listing.title %></h1>
<br>
<p>Description: <%= @listing.description %></p>
<p>Number of Rooms: <%= @listing.rooms %></p>
<p>Capacity: <%= @listing.capacity %></p>
<p>Location: <%= @listing.location %></p>
<p>Price: <%= @listing.price %></p>
<p>Property Type: <%= @listing.property_type %></p>
<p>Host: <%= @listing.user.email %></p>
<p>Availabilty: <%= @listing.available %></p>

<%= link_to 'Edit Listing', edit_listing_path %>
<%= link_to 'Delete Listing', listing_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= link_to 'Your Listings', listings_path %>
<%= link_to 'Home', root_path %>
