<h1>New Booking</h1>
<%= form_with model: @booking do |f|%>
	<%= f.label :check_in%>
	<%= f.date_field :check_in%><br>
	<%= f.label :check_out%>
	<%= f.date_field :check_out%><br>
	
	<%= f.hidden_field :listing_id, value: @listing.id%><br>

	<%= f.submit 'Book Now'%>
<%end%>
