<h1>Booking for <%= @booking.listing.title %></h1>
<h4>Hosted by <%= @booking.listing.user.email %></h4>

<br>

<p>Check in date: <%= @booking.check_in %></p>
<p>Check out date: <%= @booking.check_out %></p>
<p>Days Booked: <%= @booking.duration %></p>
<p>Total Amount: <%= @booking.total_price %></p>
