<!-- <%#= link_to 'Listings', listings_path(@listings)%> -->
<h3>Listings Available</h3>
<%= form_tag(root_path, method: :get) do%>
	<%= text_field_tag :location, params[:location], placeholder: 'Enter location'%>
	<%= date_field_tag :check_in, params[:check_in]%>
	<%= date_field_tag :check_out, params[:check_out]%>
	<%= submit_tag 'Search'%>
<%end%><br>

<%if @listings.any?%>
<div class="row row-cols-auto px-2">
	<% @listings.each do |listing|%>
	<div class="col-md-2" > 
		<div class="card border-danger h-100 mb-3" style="width: 13rem;">
		<%= link_to listing_path(listing) do%>
			<%if listing.photos.attached?%>					
				<%= image_tag listing.photos.first, width: 200, height: 200 %>
			<%end%>				
			  <div class="card-body">
			    <p class="card-text"><%= listing.title %></p>
			  </div>
		</div>
		<%end%>
	</div>
		
	<%end%>	
</div>	
	
<%end%>

<% if user_signed_in?%>
	<%= link_to 'Airbnb your home', new_listing_path(@listings)%>
<%end%>